*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
	font-family: 'Helvetica', arial, sans-serif;

	font-size: 15px;
}

p{
	margin-bottom: 20px;
	line-height: 1.5em;
}
h3{
	color:#55a51c;
	margin-bottom: 20px;
	border-bottom: 1px solid #aaa;
}

a{
	text-decoration: none;
	color: #333;
}
a:hover{
	color: #666;
}


.container{
	max-width: 1080px auto;
	margin: 20px auto;
	background: #fff;
	overflow: hidden;
	padding: 10px;
}


.header{
	border: 1px solid #FFA500;
	padding: 10px;
	margin: 10px;
	background: #FFFAFA;
}

#float {
    margin: 15px auto;
    padding: 0;
}

#float li {
    float: center;
    list-style: none;
    margin-left: 15px;
    margin-right: 15px auto;
}

#float li {
    background: linear-gradient(#687587, #404853);
    float: center;
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

#float li a {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    color: #ADFF2F;
    font-variant: small-caps;
    text-decoration: none;
    padding: 10px 150px;
}

#float li a:hover {
  background: #454d59;
  color: #ADFF2F;
}

/* Main */
	.left{
		width: 250px;
		background: #fff;
		padding: 10px;
		margin: 10px;
		float: left;
	}

	.middle{
		width: 769px;
		border: 1px solid #FFA500;
		padding: 10px;
		margin: 10px;
		float: left;
		background: #e6e6e6;
	}
		.middle img{
			max-width: 100%;
			height: auto;
		}

		.middle a{
			font-weight: bold;
		}

	.right{
		width: 250px;
		border: 1px solid #FFA500;
		padding: 10px;
		margin: 10px;
		float: left;
		background: #FFFAFA;
	}


	.right ul{
		list-style-type: none;
	}
	.right ul li{
		display: block;
	}
	.right ul li a{
		display: block;
		border-bottom: 1px solid #FFA500;
		margin-bottom: 10px;
		padding: 10px 5px;
	}
	.right ul li a:hover{
		color: #ADFF2F;
	}

.footer{
	clear: both;
	padding: 10px;
	margin: 10px;
	background: #535353;
}


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* untuk ukuran 1080px kebawah */
@media screen and (max-width: 1080px) {
	
	.container {
		width: 100%;
	}
	.left {
		width: 25%;
		background: #fff;
	}
	.middle {
		width: 68%;
		float: right;
	}
	
	.right {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}
}


/* untuk ukuran layar 700px kebawah */
@media screen and (max-width: 780px) {
	
	.header, 
	.footer{
		text-align: center;
	}
	.left {
		width: auto;
		float: none;
	}
	
	.middle {
		width: auto;
		float: none;
	}
	
	.right {
		width: auto;
		float: none;
	}

}


